<!-- Azure Application Insights -->
<script type="text/javascript">
    (function (c, o, n, f, i, g) {
        c[f] = c[f] || function () { (c[f].q = c[f].q || []).push(arguments) };
        i = o.createElement(n); i.async = 1; i.src = "https://az416426.vo.msecnd.net/scripts/b/ai.2.min.js";
        g = o.getElementsByTagName(n)[0]; g.parentNode.insertBefore(i, g);
    })(window, document, "script", "appInsights");
    appInsights("init", {
        instrumentationKey: "6bf79d9b-d7dd-40ac-aba8-e1292db3f8c7"
    });
    appInsights("trackPageView");
</script>